body{
  margin:10px;
}
.socialcontainer{
  background:;
  height:50px;
  width:50vw;
  justify-content:center;
  text-align: center;
  margin:auto;
}

.button{
    background:;
    right:0vw;
    top:90vh;
    height:50px;
    width:100px;
    text-align: center;
    position: fixed;
    display:flex;
    justify-content: center;
    line-height: 50px;
    color:;
    font-family: sans-serif;
      font-family: 'Gloria Hallelujah', cursive;
      font-size: 24pt;
}

.imgcontainer{
  background:;
  display:flex;
}

.center {
  justify-content: center;
}

.right{
  justify-content: flex-end;
}

h1 {font-family: sans-serif;
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}
p {font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

a{
  text-decoration: none;
}
a:visited{
  text-decoration: none;
  color:gray;
}
