/* div {
  width:
  border:
  padding:
  margin:
} */
/* ^^^ making a regular, static box */

.header{
  background: white;
  position: fixed;
  padding:30px;
  top:30px;
  left:0;
  right:0;
  width:95vw;
  z-index: 1;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  margin-bottom: 30vh;
}

.header-item{

}

.footer{
padding:30px;
  position: fixed;
  top:90vh;
  width:95vw;
  z-index:1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gif-container{
  background:;
  display:flex;
}

.gif{
  /* z-index: -1; */
  /* position: absolute; */
}

.center {
  justify-content: center;
}

.right{
  justify-content: flex-end;
}

.box{
  background:black;
  height:80px;
  padding-top: 10px;
  width:100vw;
  color: white;
  text-align:center;
  margin:auto;
}

p{
  font-family:monospace;
  font-size: 12pt;
}
h1{
  font-family:monospace;
  font-size: 36pt;
}
h2{
  font-family:monospace;
}
h3{
  font-family:monospace;
  font-size: 12pt;
}
.highlight{color:blue;
background:yellow;
}
div{font-family: monospace;
  font-size: 10pt;
}
