
body{
  margin:0;
}
p{
  font-family:monospace;
  font-size: 12pt;
}
h1{
  font-family:monospace;
  font-size: 36pt;
}
h2{
  font-family:monospace;
}
h3{
  font-family:monospace;
  font-size: 12pt;
}
.highlight{color:blue;
background:yellow;}
