
body {color: white;
  background-color: black;
  background-image: url("me.gif");
}
h1 {font-family: sans-serif;
}
p {font-family: sans-serif;
}
ul {font-family: sans-serif;
}
li {color: white;}
/* https://user-images.githubusercontent.com/6901805/58038897-167f0280-7ae6-11e9-94eb-88e880a25f0f.gif */
