
body {color: white;
  background-color: black;
  background-image: url("me.gif");
}
h1 {font-family: sans-serif;
  font-family: 'Gloria Hallelujah', cursive;
}
p {font-family: sans-serif;
}
ul {font-family: sans-serif;
  font-family: 'Roboto', sans-serif;
}
li {color: black;}

a:link{
  text-decoration: none;
color:white;
}
a:visited{
  text-decoration: none;
  color:gray;
}
