
body{
  margin:0;
  background: black;
}

button{
  display:flex;
}

.main-container{
  width:100vw;
  height:100vh;
  background: yellow;
  display:flex;
}

.image{
  display:flex;
  position:absolute;
  margin-left: 45vw;
  margin-top:;
}

.image2{
  display:flex;
  position:absolute;
  margin-left: 10vw;
  margin-top:;
}

.image3{
  display:flex;
  position:absolute;
  margin-left: 10vw;
  margin-top:;
}

.button1{
  background:;
  display:flex;
  margin-left: 65vw;
  margin-top: 100px;
  position: absolute;
}

.button2{
  background:;
  display:flex;
  margin-left: 50vw;
  margin-top: 50vh;
  position: absolute;

}

.button3{
  background:;
  display:flex;
  margin-left: 70vw;
  margin-top: 55vh;
  position: absolute;

}

.button4{
  background:;
  display:flex;
  margin-left: 10vw;
  margin-top: 50px;
  position: absolute;
}

.button5{
  background:;
  display:flex;
  margin-left: 10vw;
  margin-top: 70vh;
  position: absolute;

}

.button6{
  background:;
  display:flex;
  margin-left: 45vw;
  margin-top: 73vh;
  position: absolute;

}

.button7{
  background:;
  display:flex;
  margin-left: 48vw;
  margin-top: 23vh;
  position: absolute;

}

.button8{
  background:;
  display:flex;
  margin-left: 90vw;
  margin-top: 90vh;
  position: absolute;

}

.button9{
  background:;
  display:flex;
  margin-left: 90vw;
  margin-top: 5vh;
  position: absolute;

}

.button10{
  background:;
  display:flex;
  margin-left: 13vw;
  margin-top: 28vh;
  position: absolute;

}

.button11{
  background:;
  display:flex;
  margin-left: 5vw;
  margin-top: 90vh;
  position: absolute;

}

.button12{
  background:;
  display:flex;
  margin-left: 38vw;
  margin-top: 90vh;
  position: absolute;

}
